<%- include('../includes/header'); %>

<div class="container-fluid">
  <div class="row mt-2">
    <% products.forEach((product) => { %>
      <div class="col-md-4 col-lg-2 m-2 m-md-0">
        <img src="http://placehold.jp/150x150.png" class="img-fluid">
        <div class="d-inline-block d-md-block align-top">
          <h5><%= product.name %></h5> 
          <p><strong>$<%= product.price %></strong></p>
          <a href="/cart">Add to Cart</a>
        </div>
      </div>
    <% }); %>
  </div>
</div>


<%- include('../includes/footer'); %>